/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

div {
  /* border: solid 1px; */
}

/*  */

body {
  width: 100%;
  height: 100%;
}

.grid-container {
  width: 900px;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 900px;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  margin: 0 auto;
}

.grid-item-header {
  grid-area: header;
}

.grid-item-main {
  grid-area: main;
}

.grid-item-footer {
  grid-area: footer;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  grid-template-areas: "section-tag section-note";
}

.main-grid-item-section-tag {
  grid-area: section-tag;
}

.main-grid-item-section-note {
  grid-area: section-note;
}

.main-section-note-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33%);
  grid-auto-rows: 100px;

  justify-content: center;
}

.main-section-note {
  border: solid;
}

.wrapper-note {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  width: 230px;
  height: 100px;

  border: 1px solid;

  overflow: hidden;
}

.note-subject {
  font-weight: bold;
}

/* @media screen and (max-width: 500px) {
  .main-grid-container {
    display: grid;
    grid-template-columns: 50px 400px;
    grid-template-rows: auto;
    grid-template-areas: "section-tag section-note";
  }

  .main-section-note-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    grid-auto-rows: 100px;
  }
} */
